html,
body,
#root {
  background: #111316;
  color: #c5c5c5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
}

.containerBg {
  background: #28282B;
}

.borderColor {
  // color: #ffc107;
  border: 0.7px solid #5f6a6a;
}
